//  ===========================================
//  Error
//  ===========================================

.error {
	width: 100%;
	&--message {
		@include round-corner;
		margin: 0;
		background: $color-red;
		color: #fff;
		font-weight: 700;
		text-align: center;
		padding: 8px;
		margin-bottom: 15px;
		p {
			margin: 0;
		}
	}
}