//  ===========================================
//  Recipe rating system homepage
//  ===========================================

.recipe--rating {
	display: flex;
	span {
		align-self: center;
		margin-right: 5px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		li {
			display: inline-flex;
			svg {
				align-self: center;
			}
		}
	}
}

//  ===========================================
//  Recipe ratings for single recipes
//  ===========================================

.recipe--form-rating {
	@extend .recipe--rating;
	flex-direction: column;
	span {
		align-self: flex-start;
	}
	svg {
		width: 25px;
		height: 25px;
		margin-top: 15px;
	}
	ul {
		-moz-user-select: none;
		-webkit-user-select: none;
		> li svg {
			fill: $color-grey__medium;
		}
		> li.hover svg {
			fill: lighten($color-yellow, 20%);
		}
		> li.selected svg {
			fill: $color-yellow;
		}
	}
}
