//  ===========================================
//  Fixes
//  ===========================================

html {
	box-sizing: border-box;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: inherit; // box-sizing fix
}

//  ===========================================
//  Variables
//  ===========================================

// --------------  Fonts //

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$font-primary: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// --------------  Colours //

$color-red: #fe5858;
$color-green: #63cab9;
$color-purple: #635d9d;
$color-yellow: #ffb548;
$color-grey__light: #f7f7f7;
$color-grey__medium: #808080;
$color-grey__dark: #404040;

//  ===========================================
//  Mixins
//  ===========================================
