//  ===========================================
//  Global Layout
//  ===========================================

html,
body {
	height: 100%;
	margin: 0;
	color: $color-grey__dark;
}

svg {
	overflow: visible;
}

//  ===========================================
//  Site Containers
//  ===========================================

.container {
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

//  ===========================================
//  Header
//  ===========================================

header {
	width: 100%;
	background: $color-grey__light;
	.header--logo {
		align-self: center;
		flex-grow: 1;
		svg {
			width: 311px;
			height: 43px;
		}
	}
	.header--search-form {
		align-self: center;
		display: flex;
		svg {
			width: 28px;
			height: 28px;
			margin-right: 20px;
			align-self: center;
		}
		input {
			padding: 10px;
			@include round-corner;
			outline: 0;
			border: 1px solid $color-grey__medium;
			width: 250px;
		}
	}
	.header--recipe-save {
		align-self: flex-start;
		margin-left: 15px;
	}
	.header--recipe-details {
		align-self: flex-start;
		.header--recipe-created {
			font-weight: 700;
			font-size: 18px;
			color: $color-purple;
			margin-top: 3px;
		}
		.header--recipe-updated {
			font-size: 14px;
			color: $color-red;
			margin-top: 3px;
		}
	}
}

//  ===========================================
//  Footer
//  ===========================================

footer .container {
	padding: 0;
	p {
		margin: 0 0 20px;
	}
}
